.add-material-container {
  text-align: center;
}

.add-heading {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin: 10px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-vendor-link {
  color: #4CAF50;
  text-decoration: none;
  margin-left: 5px;
}


.add_btn {
  padding: 8px 16px;
  background-color: #e20000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.add_btn:hover {
  background-color: #c40000;
}

.add-icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.add-material-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-material-popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}